on:
  pull_request:
  push:
    branches: [main, test-me-*]

permissions:
  contents: read

jobs:
  main-uvx:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: self test action (uvx path)
      uses: ./
  main-uv-run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: printf '[project]\nname = "test"\nversion = "0.0.0"\nrequires-python = ">=3.13"\n' > pyproject.toml
      shell: bash
    - name: self test action (uv run path)
      uses: ./
  main-external-uv:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - name: self test action (external uv)
      uses: ./
      with:
        uv-install: 'false'
